*, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }

  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }

  body.correct {
    --hue: var(--hue-correct);
  }

  body.wrong {
    --hue: var(--hue-wrong);
  }

  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .btn:hover {
    border-color: black;
  }

  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }

  .btn.wrong {
    --hue: var(--hue-wrong);
  }

  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hide {
    display: none;
  }

  @import url('https://fonts.googleapis.com/css?family=Raleway');


  html {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #DFDFDF;
  }
  
  
#bottomheader{
	height:50px;
	width:100%;
	background-color:black;
	top:0px;

}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:4;
}

/* nav bar stuff including button stuff */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding:16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

         
#myBtn{
font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#myBtn:hover {
  background-color:red;
}
#logo{
background-image:url("panda.jpg");
height:50px;
width:50px;
position:absolute;
top:0px;
right:0px;
background-size:cover;
}